.icon{
    &[name="location"]:before {
        content: "\e64c";
    };
    &[name="delete"]:before {
        content: "\e633";
    };
    &[name="team"]:before {
        content: "\e60f";
    };
    &[name="time1"]:before {
        content: "\e64e";
    };
    &[name="setting"]:before {
        content: "\e606";
    };
    &[name="icon_arrowdown"]:before {
        content: "\e80b";
    };
    &[name="icon_bell"]:before {
        content: "\e80f";
    };
    &[name="icon_notice"]:before {
        content: "\e816";
    };
    &[name="icon_subaccount"]:before {
        content: "\e81a";
    };
    &[name="icon_search"]:before {
        content: "\e81e";
    };
    &[name="icon_plus"]:before {
        content: "\e81f";
    };
    &[name="icon_ios"]:before {
        content: "\e820";
    };
    &[name="icon_android"]:before {
        content: "\e821";
    };
    &[name="lot_cancel"]:before {
        content: "\e830";
    };
    &[name="lot_plus"]:before {
        content: "\e834";
    };
    &[name="download_icon_exte"]:before {
        content: "\e872";
    };
    &[name="transaction_icon_bonus"]:before {
        content: "\e87d";
    };
    &[name="icon_FAQ"]:before {
        content: "\e8a2";
    };
    &[name="s_left"]:before {
        content: "\e6a6";
    };
    &[name="s_up"]:before {
        content: "\e6a7";
    };
    &[name="s_down"]:before {
        content: "\e6ad";
    };
    &[name="s_right"]:before {
        content: "\e6b7";
    };
    &[name="seticon"]:before {
        content: "\e657";
    };
    &[name="volumeup"]:before {
        content: "\e867";
    };
    &[name="drag"]:before {
        content: "\e6e8";
    };
    &[name="volume_off"]:before {
        content: "\e655";
    };
    &[name="account"]:before {
        content: "\e656";
    };
    &[name="password"]:before {
        content: "\e620";
    };
    &[name="game"]:before {
        content: "\e61b";
    };
    &[name="poker"]:before {
        content: "\e61c";
    };
    &[name="popclose"]:before {
        content: "\e642";
    };
    &[name="search"]:before {
        content: "\e893";
    };
    &[name="arrowR"]:before {
        content: "\e607";
    };
    &[name="arrowL"]:before {
        content: "\e608";
    };
    &[name="o"]:before {
        content: "\e617";
    };
    &[name="o1"]:before {
        content: "\e631";
    };
    &[name="o2"]:before {
        content: "\e934";
    };
    &[name="jingziqi"]:before {
        content: "\e734";
    };
    &[name="o3"]:before {
        content: "\e60b";
    };
    &[name="Basket-Ball"]:before {
        content: "\ecc9";
    };
    &[name="o4"]:before {
        content: "\e61d";
    };
    &[name="huaban"]:before {
        content: "\e697";
    };
    &[name="chatroom"]:before {
        content: "\e7a2";
    };
    &[name="caomei"]:before {
        content: "\e678";
    };
    &[name="chengzi"]:before {
        content: "\e679";
    };
    &[name="bingqilin"]:before {
        content: "\e676";
    };
    &[name="dangao"]:before {
        content: "\e67a";
    };
    &[name="hanbaobao"]:before {
        content: "\e67b";
    };
    &[name="xihongshi"]:before {
        content: "\e67c";
    };
    &[name="tusi"]:before {
        content: "\e67d";
    };
    &[name="fishing"]:before {
        content: "\e60a";
    };
    &[name="pokerback"]:before {
        content: "\e79c";
    };
    &[name="king"]:before {
        content: "\e635";
    };
    &[name="dog"]:before {
        content: "\e666";
    };
    &[name="foot"]:before {
        content: "\e609";
    };
    &[name="star"]:before {
        content: "\e661";
    };
    &[name="star-l"]:before {
        content: "\e600";
    };
    &[name="H"]:before {
        content: "\e665";
    };
    &[name="D"]:before {
        content: "\e61a";
    };
    &[name="B"]:before {
        content: "\e6c6";
    };
    &[name="M"]:before {
        content: "\e6c7";
    };
    &[name="undo"]:before {
        content: "\eca4";
    };
    &[name="Colse"]:before {
        content: "\e674";
    };
    &[name="renew"]:before {
        content: "\e646";
    };
    &[name="colse"]:before {
        content: "\e788";
    };
    &[name="time"]:before {
        content: "\e677";
    };
    &[name="arrow-right"]:before {
        content: "\e601";
    };
    &[name="Arrow-down"]:before {
        content: "\e60e";
    };
    &[name="Arrow-up"]:before {
        content: "\e602";
    };
    &[name="arrow-left"]:before {
        content: "\e603";
    };
    &[name="arrow-top"]:before {
        content: "\e604";
    };
    &[name="arrow-down"]:before {
        content: "\e605";
    };
    &[name="Solitaire"]:before {
        content: "\e6a1";
    };
}